<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="../images/success.png" width="240" height="240">
        <h3>Dear, {{userName}}</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for placing order. Your order will be deliverd soon. 
            Please visit home page to order new items.</p>
            <p class="text-center"><a class="btn btn-primary" ui-sref="home"><i class="fa fa-home"></i> Take Me Home</a></p>
    <br><br>
        </div>
        
	</div>
</div>