<div class="container">
    <product-serach></product-serach>
    <br>
    <div class="row col-md-12 col-sm-12">
        
        <div class="col-md-4 col-sm-4" ng-repeat = "a in apprals">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="../images/apparal.png">
                    </a>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{a.productName}}</a></h3>
                    <h4 class="title">{{a.appralType}}</h4>
                    <h4 class="title">{{a.appralBrand}}</h4>
                    <h4 class="title">{{a.appralDesign}}</h4>
                    <div class="price">{{a.price | currency}}
                    </div>
                    <button class="add-to-cart" ng-click="createOrUpdateCart(a.productId,a.productCategory)">+ Add To Cart</button>
                </div>
            </div>
        </div>
    </div>

   <br>

    <div class="row col-md-12 col-sm-12">
        
        <div class="col-md-4 col-sm-4" ng-repeat = "b in books">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="../images/book.png">
                    </a>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{b.productName}}</a></h3>
                    <h4 class="title">{{b.bookDescription}}</h4>
                    <h4 class="title">{{b.bookPublications}}</h4>
                    <h4 class="title">{{b.bookGenre}}</h4>
                    <div class="price">{{b.price | currency}}
                    </div>
                    <button class="add-to-cart" ng-click="createOrUpdateCart(b.productId,b.productCategory)">+ Add To Cart</button>
                </div>
            </div>
        </div>
    </div>

    <div id="snackbar" ng-class = "{'show': show}">{{message}}</div>
</div>